/* CSS chung */

@font-face {
    font-family: 'Inter';
    src: url('/assets/font/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    font-size: 20px;
}

body {
    height: 100dvh;
    background-color: #b6e8f3;
}

main {
    width: 100%;
    height: calc(100% - 40px);
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.custom-text-color {
    background: linear-gradient(to right, #247afe, #e1597d);
    -webkit-background-clip: text;
    color: transparent;
}

section {
    min-height: 100%;
    height: auto;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    padding: 20px;
    display: none;
}

section.active {
    display: block;
}

#youtube-video {
    margin-top: 20px;
}

.camera-action {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.custom-button-2 {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.custom-button-2:hover {
    background-color: rgba(255, 255, 255, 0.35) !important;
}

.custom-button-2 img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    border: none;
}

.custom-button {
    display: block;
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
}

.custom-button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
    user-select: none;
}

.custom-button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
}

.custom-button span:not(hover) {
    transition: all 1s;
}

h1,
h2,
h3 {
    user-select: none;
    pointer-events: none;
}

h1 {
    cursor: default;
}

h2 {
    font-size: 25px;
    text-align: center;
    cursor: default;
}

h3 {
    font-size: 19px;
    cursor: default;
}

.span-btn {
    cursor: pointer;
    font-weight: 600;
    color: #0056b3;
}

.span-btn:hover {
    text-decoration: underline;
}

/* End CSS chung */

/* Loader */
#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;
    background-color: #fad0c4;
    z-index: 9999999;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
}

.pl {
    width: 6em;
    height: 6em;
}

.pl__ring {
    animation: ringA 2s linear infinite;
}

.pl__ring--a {
    stroke: #f42f25;
}

.pl__ring--b {
    animation-name: ringB;
    stroke: #f49725;
}

.pl__ring--c {
    animation-name: ringC;
    stroke: #255ff4;
}

.pl__ring--d {
    animation-name: ringD;
    stroke: #f42582;
}

/* Animations */
@keyframes ringA {

    from,
    4% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }

    12% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -335;
    }

    32% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -595;
    }

    40%,
    54% {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -660;
    }

    62% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -665;
    }

    82% {
        stroke-dasharray: 60 600;
        stroke-width: 30;
        stroke-dashoffset: -925;
    }

    90%,
    to {
        stroke-dasharray: 0 660;
        stroke-width: 20;
        stroke-dashoffset: -990;
    }
}

@keyframes ringB {

    from,
    12% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -110;
    }

    20% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -115;
    }

    40% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -195;
    }

    48%,
    62% {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    70% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    90% {
        stroke-dasharray: 20 200;
        stroke-width: 30;
        stroke-dashoffset: -305;
    }

    98%,
    to {
        stroke-dasharray: 0 220;
        stroke-width: 20;
        stroke-dashoffset: -330;
    }
}

@keyframes ringC {
    from {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    8% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    28% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    36%,
    58% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    66% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    86% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    94%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}

@keyframes ringD {

    from,
    8% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: 0;
    }

    16% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -5;
    }

    36% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -175;
    }

    44%,
    50% {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -220;
    }

    58% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -225;
    }

    78% {
        stroke-dasharray: 40 400;
        stroke-width: 30;
        stroke-dashoffset: -395;
    }

    86%,
    to {
        stroke-dasharray: 0 440;
        stroke-width: 20;
        stroke-dashoffset: -440;
    }
}

/* End loader */

/* Chào mừng */

#welcome-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

#welcome h1 {
    font-size: 32px;
    text-align: center;
}

#start-session {
    margin-top: 20px;
}

/* End Chào mừng */

/* Chọn mẫu ảnh */
.template-container {
    display: flex;
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 100px;
}

.photo-template {
    cursor: pointer;
    transition: .3s ease-in-out;
    height: fit-content;
}

.photo-template:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* End Chọn mẫu ảnh */

/* Thêm ảnh vào mẫu */

.camera-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    gap: 20px;
}

.camera-container-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-btn-container {
    margin-top: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#selected-template-container {
    width: 100%;
    flex: 1;
    border: 1px solid #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

video {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 1px solid #000;
}

#photo-queue {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 10px;
    margin-top: 15px;
    border: 2px dashed #ccc;
    padding: 10px;
    background-color: #fff;
    min-height: 124px;
    width: 100%;
    border-radius: 15px;
}

.photo-thumbnail {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.photo-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-thumbnail .remove-photo {
    position: absolute;
    top: 2px;
    right: 2px;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.photo-thumbnail .remove-photo:hover {
    background: red;
}

/* End Thêm ảnh vào mẫu */

/* Chọn Frame */

.select-frame-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 35% 65%;
}

.select-frame-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

#template-need-select-frame {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    position: relative;
    display: block;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    overflow: auto;
}

.frame-option-container {
    width: 100%;
    height: 220px;
    padding: 15px;
    overflow: auto;
    border: 1px solid #000;
    border-radius: 15px;
}

.frame-options {
    display: flex;
    gap: 10px;
    position: relative;
}

#frame-template-preview {
    margin-bottom: 20px;
    width: 300px;
    height: auto;
    position: relative;
    overflow: hidden;
}

#frame-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 100;
    pointer-events: none;
    background-color: transparent;
}

.frame-option {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    pointer-events: unset !important;
}

.frame-option:hover {
    transform: scale(1.1);
    border: 2px solid #007bff;
}

#filter-preview {
    pointer-events: none;
    z-index: 99;
    filter: grayscale(1);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
}

.filter-option-container {
    width: 100%;
    height: 220px;
    overflow: auto;
    padding: 5px;
}

.filter-options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter {
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 8px;
    background: url(/assets/images/placehoder.jpeg) no-repeat center;
    object-fit: cover;
    color: #fff;
    font-weight: 700;
    transition: .3s ease-in-out;
}

.filter:hover {
    transform: scale(1.02);
}

/* End Chọn Frame */

/* Xem trước và lưu ảnh */

#photo-preview {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    display: block;
    text-align: center;
    gap: 10px;
    overflow: auto;
}

.preview-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.preview-column {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.flex-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

/* End Xem trước và lưu ảnh */

/* Donate */

#my-qr {
    height: 400px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.frame-template-download {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}

.download-frame {
    font-size: 15px;
    line-height: 20px;
    cursor: pointer !important;
    width: fit-content;
    display: block;
}

.download-frame:hover {
    text-decoration: underline;
}

#feedback span {
    font-size: 18px !important;
    display: block;
    user-select: none;
    cursor: default;
}

/* End donate */

#mobile {
    display: none;
}

#not-mobile {
    width: 100%;
    height: 100%;
}

@media (max-width: 1365px) {
    section {
        padding: 30px 10px;
    }

    #camera-preview {
        height: fit-content;
    }

    main {
        width: 100%;
        height: 100%;
        overflow: auto;
        border-radius: 8px 8px 0 0;
    }

    header {
        display: none !important;
    }

    #mobile-menu {
        position: fixed;
        bottom: 0;
        left: 0;
        display: block !important;
        background-color: transparent;
        width: 100%;
        height: 50px;
        z-index: 99999;
    }

    .preview-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        gap: 10px;
        padding: 30px 0px;
    }

    #photo-preview {
        width: 100%;
        height: fit-content;
        padding: 15px;
    }

    .flex-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        width: 100%;
    }

    .template-container {
        display: flex;
        position: relative;
        width: 100%;
        margin: auto;
        margin-top: 20px;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        padding: 30px 0px;
    }

    .camera-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        position: relative;
        gap: 20px;
        padding: 30px 0;
    }

    .select-frame-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        padding: 30px 0;
    }

    .frame-option {
        width: auto;
        height: 180px;
        cursor: pointer;
        pointer-events: unset !important;
        background-color: transparent;
    }

    .filter-options {
        width: 100%;
        height: 120px;
        overflow: auto;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        white-space: nowrap;
        gap: 10px;
    }

    .filter-option-container {
        height: unset;
    }

    .filter {
        cursor: pointer;
        width: 100px !important;
        height: 100px;
        display: inline-block;
        text-align: center;
        line-height: 100px;
        font-size: 14px;
        border: 1px solid #000;
        border-radius: 8px;
        background: url(/assets/images/placehoder.jpeg) no-repeat center;
        background-size: cover;
        color: #fff;
        font-weight: 700;
        transition: .3s ease-in-out;
        flex-shrink: 0;
    }

    #my-qr {
        height: 300px;
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    .mobile-flex-column-reverse {
        flex-direction: column-reverse;
        gap: 10px;
    }

    #youtube-video {
        width: 320px !important;
        height: auto !important;
        aspect-ratio: 16/9;
    }
}