img {
    user-select: none;
    pointer-events: none;
    border: 1px solid #ddd;
    object-fit: cover;
}

.photo {
    position: relative;
}

/* 3 Photos */

#template-3-photos {
    width: 120px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 12px;
}

.img-template-3-photos {
    width: 100%;
    height: calc(33% - 6px);
}

.photo.photo-preview#template-3-photos {
    width: 180px;
    height: 540px;
    padding: 18px;
}

.photo.photo-preview#template-3-photos .img-template-3-photos {
    height: calc(33% - 9px);
}

.photo.photo-print#template-3-photos {
    width: 600px;
    height: 1800px;
    padding: 60px;
}

.photo.photo-print#template-3-photos .img-template-3-photos {
    height: calc(33% - 30px);
}

/* End 3 Photos */

/* 4 Photos */

#template-4-photos {
    width: 120px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 12px;
}

.img-template-4-photos {
    width: 100%;
    height: calc(25% - 3px);
}

.photo.photo-preview#template-4-photos {
    width: 180px;
    height: 540px;
    padding: 18px;
}

.photo.photo-preview#template-4-photos .img-template-4-photos {
    height: calc(25% - 4.5px);
}

.photo.photo-print#template-4-photos {
    width: 600px;
    height: 1800px;
    padding: 60px;
}

.photo.photo-print#template-4-photos .img-template-4-photos {
    height: calc(25% - 15px);
}

/* End 4 Photos */

/* 4 Photos - 2 photos 1 line */

#template-4-photos-2 {
    width: 240px;
    height: 360px;
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
}

.img-template-4-photos-2 {
    width: calc(50% - 12px - 6px);
    height: 36%;
    position: absolute;
}

.img-template-4-photos-2.img-1 {
    top: 12px;
    left: 12px;
}

.img-template-4-photos-2.img-2 {
    bottom: calc(36% + 12px + 12px);
    right: 12px;
}

.img-template-4-photos-2.img-4 {
    right: 12px;
    bottom: 12px;
}

.img-template-4-photos-2.img-3 {
    top: calc(36% + 12px + 12px);
    left: 12px;
}

.photo.photo-preview#template-4-photos-2 {
    width: 360px;
    height: 540px;
}

.photo.photo-preview#template-4-photos-2 .img-template-4-photos-2 {
    width: calc(50% - 27px);
    height: 36%;
}

.photo.photo-preview#template-4-photos-2 .img-1 {
    top: 18px;
    left: 18px;
}

.photo.photo-preview#template-4-photos-2 .img-2 {
    bottom: calc(36% + 18px + 18px);
    right: 18px;
}

.photo.photo-preview#template-4-photos-2 .img-4 {
    right: 18px;
    bottom: 18px;
}

.photo.photo-preview#template-4-photos-2 .img-3 {
    top: calc(36% + 18px + 18px);
    left: 18px;
}

.photo.photo-print#template-4-photos-2 {
    width: 1200px;
    height: 1800px;
    background-color: #ffffff;
    border: 2px solid #000;
    padding: 60px;
}

.photo.photo-print#template-4-photos-2 .img-template-4-photos-2 {
    width: calc(50% - 60px - 30px);
    height: 36%;
}

.photo.photo-print#template-4-photos-2 .img-1 {
    top: 60px;
    left: 60px;
}

.photo.photo-print#template-4-photos-2 .img-2 {
    bottom: calc(36% + 60px + 60px);
    right: 60px;
}

.photo.photo-print#template-4-photos-2 .img-4 {
    right: 60px;
    bottom: 60px;
}

.photo.photo-print#template-4-photos-2 .img-3 {
    top: calc(36% + 60px + 60px);
    left: 60px;
}

/* End 4 Photos - 2 photos 1 line */

/* 8 Photos */

#template-8-photos {
    width: 480px;
    height: 240px;
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
}

.img-template-8-photos {
    width: 20%;
    height: calc(50% - 12px - 6px);
    position: absolute;
}

.img-template-8-photos.img-1 {
    top: 12px;
    left: 12px;
}

.img-template-8-photos.img-2 {
    top: 12px;
    left: calc(12px + 20% + 12px);
}

.img-template-8-photos.img-3 {
    left: 12px;
    bottom: 12px;
}

.img-template-8-photos.img-4 {
    bottom: 12px;
    left: calc(12px + 20% + 12px);
}

.img-template-8-photos.img-5 {
    right: calc(12px + 20% + 12px);
    top: 12px;
}

.img-template-8-photos.img-6 {
    top: 12px;
    right: 12px;
}

.img-template-8-photos.img-7 {
    right: calc(12px + 20% + 12px);
    bottom: 12px;
}

.img-template-8-photos.img-8 {
    right: 12px;
    bottom: 12px;
}

.photo.photo-preview#template-8-photos {
    width: 720px;
    height: 360px;
}

.photo.photo-preview#template-8-photos .img-template-8-photos {
    width: 20%;
    height: calc(50% - 18px - 9px);
    position: absolute;
}

.photo.photo-preview#template-8-photos .img-1 {
    top: 18px;
    left: 18px;
}

.photo.photo-preview#template-8-photos .img-2 {
    top: 18px;
    left: calc(18px + 20% + 18px);
}

.photo.photo-preview#template-8-photos .img-3 {
    left: 18px;
    bottom: 18px;
}

.photo.photo-preview#template-8-photos .img-4 {
    bottom: 18px;
    left: calc(18px + 20% + 18px);
}

.photo.photo-preview#template-8-photos .img-5 {
    right: calc(18px + 20% + 18px);
    top: 18px;
}

.photo.photo-preview#template-8-photos .img-6 {
    top: 18px;
    right: 18px;
}

.photo.photo-preview#template-8-photos .img-7 {
    right: calc(18px + 20% + 18px);
    bottom: 18px;
}

.photo.photo-preview#template-8-photos .img-8 {
    right: 18px;
    bottom: 18px;
}

.photo.photo-print#template-8-photos {
    width: 2400px;
    height: 1200px;
    background-color: #ffffff;
    border: 1px solid #000;
}

.photo.photo-print#template-8-photos .img-template-8-photos {
    width: 20%;
    height: calc(50% - 60px - 30px);
    position: absolute;
}

.photo.photo-print#template-8-photos .img-1 {
    top: 60px;
    left: 60px;
}

.photo.photo-print#template-8-photos .img-2 {
    top: 60px;
    left: calc(60px + 20% + 60px);
}

.photo.photo-print#template-8-photos .img-3 {
    left: 60px;
    bottom: 60px;
}

.photo.photo-print#template-8-photos .img-4 {
    bottom: 60px;
    left: calc(60px + 20% + 60px);;
}

.photo.photo-print#template-8-photos .img-5 {
    right: calc(60px + 20% + 60px);
    top: 60px;
}

.photo.photo-print#template-8-photos .img-6 {
    top: 60px;
    right: 60px;
}

.photo.photo-print#template-8-photos .img-7 {
    right: calc(60px + 20% + 60px);
    bottom: 60px;
}

.photo.photo-print#template-8-photos .img-8 {
    right: 60px;
    bottom: 60px;
}

@media (max-width: 1365px) {
    #template-8-photos {
        width: 240px;
        height: 120px;
    }
    
    .img-template-8-photos {
        width: 20%;
        height: calc(50% - 6px - 3px);
        position: absolute;
    }
    
    .img-template-8-photos.img-1 {
        top: 6px;
        left: 6px;
    }
    
    .img-template-8-photos.img-2 {
        top: 6px;
        left: calc(6px + 20% + 6px);
    }
    
    .img-template-8-photos.img-3 {
        left: 6px;
        bottom: 6px;
    }
    
    .img-template-8-photos.img-4 {
        bottom: 6px;
        left: calc(6px + 20% + 6px);
    }
    
    .img-template-8-photos.img-5 {
        right: calc(6px + 20% + 6px);
        top: 6px;
    }
    
    .img-template-8-photos.img-6 {
        top: 6px;
        right: 6px;
    }
    
    .img-template-8-photos.img-7 {
        right: calc(6px + 20% + 6px);
        bottom: 6px;
    }
    
    .img-template-8-photos.img-8 {
        right: 6px;
        bottom: 6px;
    }
}

/* End 8 Photos */